body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
#containerDiv {
    display: flex;
    flex-wrap: wrap;
    width: 720px;
    height: 720px;
}

.squareDiv {
    border : 1px solid black;
    box-sizing: border-box;
}

.squareDiv:hover {
    background-color : lightblue
}